.DS_Store
*.re.*
Library/Application Support/superfile/superfile.log
Library/Application Support/superfile/lastCheckVersion
Library/Application Support/superfile/firstUseCheck
Library/Application Support/superfile/pinned.json
Library/Application Support/superfile/theme/
tmux/plugins
